@model OgrenciKayit.Models.Ogrenci

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Öğrenci Detayları</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Ad", htmlAttributes: new { @class = "form-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAd)
        </dd>

        <dt>
            @Html.Label("Soyad", htmlAttributes: new { @class = "form-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrSoyad)
        </dd>

        <dt>
            @Html.Label("Mail", htmlAttributes: new { @class = "form-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrMail)
        </dd>

        <dt>
            @Html.Label("Adres", htmlAttributes: new { @class = "form-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrAdres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", "", new { id = Model.OgrID }, new { style = "text-decoration: none; color:#FFF;", @class = "btn btn-success" })
    @Html.ActionLink("Öğrenci Sayfasına Geri Dön", "Index", "", new { style = "text-decoration: none; color:#FFF;", @class = "btn btn-warning" })
</p>
