@using PersonelWebSite.Models.Classes
@model List<HomePage>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumeysa's Site</title>

    <link rel="stylesheet" href="~/web-Personel-Site/style.css">

    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div class="center">
        <div class="avatar">
            @foreach (var x in Model)
            {
                <img src="@x.PPhoto" alt="profile photo">
            }
            </div>
        <div class="content">
            @foreach (var x in Model)
            {
                <h1>@x.Name</h1>
                <h2>@x.Title</h2>
                <p>@x.Text</p>
                <h3>@x.Contact</h3>
            }
        </div>
        @Html.Action("IconList", "HomePage")
    </div>
</body>
</html>