@model rumeysacv.Models.Mail

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rumeysa Aydoğdu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    </noscript>
    <link href="~/css/font-awesome/css/all.min.css?ver=1.2.1" rel="stylesheet">
    <link href="~/css/mdb.min.css?ver=1.2.1" rel="stylesheet">
    <link href="~/css/aos.css?ver=1.2.1" rel="stylesheet">
    <link href="~/css/main.css?ver=1.2.1" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body class="bg-light" id="top">
    <header class="d-print-none">
        <div class="container text-center text-lg-left">
            <div class="pt-4 clearfix">
                <h1 class="site-title mb-0">Rumeysa Aydoğdu</h1>
                <div class="site-nav">
                    <nav role="navigation">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experience" title="Experience"><span class="menu-title">Experience</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#education" title="Education"><span class="menu-title">Education</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio" title="Portfolio"><span class="menu-title">Portfolio</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="page-content">
        <div class="container">
            <div class="resume-container">
                <div class="shadow-1-strong bg-white my-5" id="intro">
                    <div class="bg-info text-white">
                        <div class="cover bg-image">
                            <img src="~/images/header-background.jpg" />
                            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                                <div class="text-center p-5">
                                    <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong" src="~/images/rumeysa.jpg" width="160" height="160" /></div>
                                    <div class="header-bio mt-3">
                                        <div data-aos="zoom-in" data-aos-delay="0">
                                            <h2 class="h1">Rumeysa Aydoğdu</h2>
                                            <p>Computer Engineer and Software Developer</p>
                                        </div>
                                        <div class="header-social mb-3 d-print-none" data-aos="zoom-in" data-aos-delay="200">
                                            <nav role="navigation">
                                                <ul class="nav justify-content-center">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="https://www.linkedin.com/in/rumeysaaydogdu" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Linkedin</span></a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="https://rumeysaaydogdu.medium.com/" target="_blank" title="Medium"><i class="fab fa-medium"></i><span class="menu-title sr-only">Medium</span></a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="https://www.youtube.com/channel/UCFm3Tb6vj_e-1TzQJdf7YaA" target="_blank" title="Youtube"><i class="fab fa-youtube"></i><span class="menu-title sr-only">Youtube</span></a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="https://github.com/rumeysaaydogdu" target="_blank" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="d-print-none"><a class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3" href="~/rumeysa_aydogdu_cv.pdf" target="_blank" data-aos="fade-right" data-aos-delay="700">Download CV</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow-1-strong bg-white my-5 p-5" id="about">
                    <div class="about-section">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="h2 fw-light mb-4">About Me</h2>
                                <p class="p-justify">
                                    I have attended many events, seminars and courses in C, C#, Python, Java, JavaScript (JQuery) programming languages before.
                                    The languages I focused more on and did projects on Github were <strong>C#</strong> and <strong>JavaScript</strong>.
                                    I want to improve myself on <strong>.NET</strong> and <strong>PL-SQL</strong> and focus on these areas.
                                </p>
                                <p class="p-justify">
                                    To talk about some of my extensive projects,
                                    I made a website project with the theme "I'm Learning Math" using JavaScript, HTML5 and CSS3 as part of my online internship.
                                    We developed a website with our four-person team, which we contacted remotely for 10 hours within the scope of the Hackathon on
                                    Website Development organized by Kodluyoruz. Within the scope of my school project, we developed a cargo tracking project with my friends, whom I contacted remotely.
                                    During my internship at Matrix Technology, I took part in the production of the Digigarson website.
                                    My first MVC project is a blog-forum site that I created by following Murat Yücedağ's training. Then I made many MVC and .NET projects to improve myself in this field.
                                    At the moment, I continue to develop myself in this field, and I am also trying to learn PL-SQL. I want to strengthen myself on database.
                                </p>
                            </div>
                            <div class="col-md-5 offset-lg-1">
                                <div class="row mt-2">
                                    <h2 class="h2 fw-light mb-4">Bio</h2>
                                    <div class="col-sm-5">
                                        <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Birth Year</div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="pb-2">1999</div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Email</div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="pb-2">aydogdurumeysa99@gmail.com</div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted" style="width:24px;opacity:0.85;"></i> Address</div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="pb-2">Istanbul (Europe)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
                    <div class="work-experience-section">
                        <h2 class="h2 fw-light mb-4">Work Experience</h2>
                        <div class="timeline">
                            <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                                <div class="timeline-head px-4 pt-3">
                                    <div class="h5">Software Assistant Specialist <span class="text-muted h6">at Agito</span></div>
                                </div>
                                <div class="timeline-body px-4 pb-4">
                                    <div class="text-muted text-small mb-3">December, 2021 - Present</div>
                                    <div>I will make developments on insurance software with .NET and PL-SQL.</div>
                                </div>
                            </div>
                            <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                                <div class="timeline-head px-4 pt-3">
                                    <div class="h5">Web Developer <span class="text-muted h6">at Matrix Teknoloji</span></div>
                                </div>
                                <div class="timeline-body px-4 pb-4">
                                    <div class="text-muted text-small mb-3">April, 2021 - October, 2021</div>
                                    <div>
                                        I did a long term internship. I did web development during my internship. I worked on programming/marking languages and libraries such as HTML, CSS, Javascript,
                                        JQuery (and AJAX, Node.js, PHP, Flutter at the beginning level). I have made many websites. My biggest project was digigarson.com .
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow-1-strong bg-white my-5 p-5" id="education">
                    <div class="education-section">
                        <h2 class="h2 fw-light mb-4">Education</h2>
                        <div class="timeline">
                            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
                                <div class="timeline-head px-4 pt-3">
                                    <div class="h5">Computer Engineering <span class="text-muted h6">from Namik Kemal University</span></div>
                                </div>
                                <div class="timeline-body px-4 pb-4">
                                    <div class="text-muted text-small mb-3">2018 - 2022</div>
                                    <div>
                                        <p>
                                            Lessons I have taken: C, C# OOP, Java OOP, Algorithms, Relational Database,
                                            Web Technologies, Software Engineering, Operating Systems, Deep Learning
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
                                <div class="timeline-head px-4 pt-3">
                                    <div class="h5">Intermediate Level English <span class="text-muted h6">from School of Foreign Languages at NKU</span></div>
                                </div>
                                <div class="timeline-body px-4 pb-4">
                                    <div class="text-muted text-small mb-3">2017 - 2018</div>
                                    <div>
                                        <p>English education at B2 level</p>
                                        <p>Resources: Oxford - English File</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
                    <div class="portfolio-section">
                        <h2 class="h2 fw-light mb-4">Portfolio</h2>
                        <div class="row g-0">
                            <div class="col-md-6"><a href="https://dgsite.cf/" target="_blank"><img class="img-fluid" src="~/images/digi.jpg" width="800" height="500" /></a></div>
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                                <div class="m-4 mt-md-2">
                                    <p class="text-teal text-small">HTML / CSS / JavaScript / JQuery / Bootstrap</p>
                                    <h3>Digigarson Website</h3>
                                    <p class="text-muted">
                                        During my internship, I coded the DigiGarson website, a product of Matrix Technology.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 portfolio-reverse">
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                                <div class="m-4 mt-md-2 text-end">
                                    <p class="text-teal text-small">HTML / CSS / JavaScript</p>
                                    <h3>I'm Learning Mathematics Web App </h3>
                                    <p class="text-muted">Mathematics themed website that I made for my online internship at Tekirdag Namik Kemal University. </p>
                                </div>
                            </div>
                            <div class="col-md-6"><a href="https://github.com/rumeysaaydogdu/Matematik-Ogreniyorum-Web-Uygulamasi" target="_blank"><img class="img-fluid" src="~/images/math.jpg" width="800" height="500" /></a></div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-6"><a href="https://github.com/rumeysaaydogdu/Cargo-Tracking-Project" target="_blank"><img class="img-fluid" src="~/images/cargo.jpg" width="800" height="500" /></a></div>
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                                <div class="m-4 mt-md-2">
                                    <p class="text-teal text-small">Java / MySQL / Eclipse</p>
                                    <h3>Cargo Tracking Automation</h3>
                                    <p class="text-muted">
                                        Cargoes are tracked in this project.The developed automation enables the records to be kept in a digital environment.
                                        This project enables the organization of the cargo, customer, personnel and courier information on the automation system.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 portfolio-reverse">
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                                <div class="m-4 mt-md-2 text-end">
                                    <p class="text-teal text-small">C# / MVC / .NET / MS SQL / Layered Architecture</p>
                                    <h3>MVC Project (eksisozluk-like)</h3>
                                    <p class="text-muted">I created this project by following Murat Yücedağ's MVC Camp Project (100 video tutorial series).</p>
                                </div>
                            </div>
                            <div class="col-md-6"><a href="https://github.com/rumeysaaydogdu/MvcProjectCamp" target="_blank"><img class="img-fluid" src="~/images/mvc.jpg" width="800" height="500" /></a></div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-6"><a href="https://github.com/rumeysaaydogdu/dotnet-and-mvc/tree/main/PersonelWebSite" target="_blank"><img class="img-fluid" src="~/images/onepage.PNG" width="800" height="500" /></a></div>
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                                <div class="m-4 mt-md-2">
                                    <p class="text-teal text-small">C# / MVC / .NET / Entity Framework / MS SQL</p>
                                    <h3>Personal One Page Web Site</h3>
                                    <p class="text-muted">My one-page personal page with admin panel and database connection. </p>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 portfolio-reverse">
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                                <div class="m-4 mt-md-2 text-end">
                                    <p class="text-teal text-small">C# / MVC / .NET / Entity Framework / MS SQL</p>
                                    <h3>Estate Agent</h3>
                                    <p class="text-muted">A real estate site where real estate agents can post house ads and manage user information. It has an admin panel. </p>
                                </div>
                            </div>
                            <div class="col-md-6"><a href="" target="_blank"><img class="img-fluid" src="~/images/agentOffice.png" width="800" height="500" /></a></div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-6"><a href="" target="_blank"><img class="img-fluid" src="~/images/gormelisin.png" width="800" height="500" /></a></div>
                            <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                                <div class="m-4 mt-md-2">
                                    <p class="text-teal text-small">C# / MVC / .NET / Entity Framework / MS SQL</p>
                                    <h3>"Görmelisin" Travel Blog</h3>
                                    <p class="text-muted">A blog where users can read travel articles, comment and send messages. The entire blog can be controlled from the admin panel.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
                    <div class="contant-section">
                        <h2 class="h2 fw-light text mb-4">Contact</h2>
                        <div class="row mb-4">
                            <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
                                <div class="mt-1">
                                    <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i> aydogdurumeysa99@gmail.com</div>
                                </div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="mt-5 d-print-none">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-outline mb-4">
                                            @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.Label("Name", htmlAttributes: new { @class = "form-label" })
                                            @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.EditorFor(model => model.GonderenMail, new { htmlAttributes = new { @type = "email", @class = "form-control" } })
                                            @Html.Label("Email", htmlAttributes: new { @class = "form-label" })
                                            @Html.ValidationMessageFor(model => model.GonderenMail, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextAreaFor(model => model.Icerik, new { @class = "form-control" })
                                            @Html.Label("Message", htmlAttributes: new { @class = "form-label" })
                                            @Html.ValidationMessageFor(model => model.Icerik, "", new { @class = "text-danger" })
                                        </div>
                                        <input type="submit" value="Send" class="btn btn-info btn-block mb-4" />
                                    </div>
                                }
                            </div>
                            <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385395.5589897866!2d28.7319906400119!3d41.00550052222663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1631711458860!5m2!1str!2str" width="500" height="400" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
        <div class="container">
            <div class="my-3">
                <div class="h4">Rumeysa Aydoğdu</div>
                <div class="footer-nav">
                    <nav role="navigation">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/rumeysaaydogdu" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">Linkedin</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://rumeysaaydogdu.medium.com/" target="_blank" title="Medium"><i class="fab fa-medium"></i><span class="menu-title sr-only">Medium</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.youtube.com/channel/UCFm3Tb6vj_e-1TzQJdf7YaA" target="_blank" title="Youtube"><i class="fab fa-youtube"></i><span class="menu-title sr-only">Youtube</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/rumeysaaydogdu" target="_blank" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="text-small">
                <div>Design - <a href="https://rumeysaaydogdu.home.blog" target="_blank">by namelessrum 💜</a></div>
            </div>
        </div>
    </footer>
    <script src="~/myscripts/mdb.min.js?ver=1.2.1"></script>
    <script src="~/myscripts/aos.js?ver=1.2.1"></script>
    <script src="~/myscripts/main.js?ver=1.2.1"></script>
</body>
</html>



